/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 5px;
    text-align: center;
    color: #1D3557;
}

img {
    width: 100px;
    border-radius: 50%;
    padding-top: 10px;
}


#header{
    color: #F1FAEE;
    background-color: #457B9D;
    border-radius: 4px;
    margin: 0 auto;
    width: 250px;
}

#cta{
    color: #F1FAEE;
    background-color: #1D3557;
    border-radius: 4px;
    margin: 10px auto;
    padding: 5px 10px;
    width: 350px;
}

#hero{
    background-image: url("https://www.tripsavvy.com/thmb/P68zkTGeBBDrZ7r4J9U4ofssIAg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/BellevueWashington-7be0f9262caf441bb79c8787e9b9ceaf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
    border-radius: 5px 5px 0 0;
}

.box{
    background-color: #F1FAEE;
    padding: 10px 0;
}

.activities{
    display: flex;
    justify-content: space-around;
}

.tit{
    font-weight:bold;
}
.acts{
    width: 170px;
}

.words{
    font-size:small;
}

#greenCard{
    background-color: #A8DADC;
    margin: 40px 125px;
    box-shadow: 0 5px 5px #1D3557;
    padding: 20px;
}

#gcFlex{
    display: flex;
    justify-content: space-around;
}
#sean{
    border-radius: 10px;
    padding: 0;
    width: 500px;
    overflow: hidden;
}

#testimoney{
    font-style: italic;
    font-size:smaller;
    margin: 0 20px;
}
